<!DOCTYPE html>
<html>

<head>

  <title>Events in The City</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="angularjs/login.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
  <script type = "text/javascript" >
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
    </script>
</head>

<body ng-app="mylogin" ng-controller="login" class="ng-scope">

  <header>

    <div class="banner">
      <div class="videofeature">
        <video autoplay loop class="video-bg" muted plays-inline>
          <source src="/videos/video-fun.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>

    <div class="displaycontent" style="z-index: 1000; height: 100vh;">

      <div class="navi">
        <nav class="navbar navbar-expand-lg  custom-navbar">
          <a class="navbar-brand" href="/">Events In the City</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactUs">CONTACT US</a>
              </li>
            </ul>


            <div class= "navbar-collapse collapse dual-collapse">
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/login">SIGNUP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
              </li>
            </ul>
          </div>
          </div>
        </nav>
      </div>

      <div class="slogan">
        <p>Events In The City</p>
        <h2>Find inspiration about the Events you love</h2>
      </div>
      <div style="text-align:center;">
        <button ng-click="clickOnLoginButton()" class="loginButton">Signup or Login</button>
      </div>
    </div>

  </header>

<div id="padding-1" class="inbetween">
</div>

  <div class="container sampleEvents">
    <h3>Most Happening Events</h3>

    <div class="row">
      <% for(var i=0;i<6;i++) { %>

      <div class="col s12 m6">
        <div class="card small">
          <div class="card-image">
            <img src="<%= featured[i].image %>" alt="No image available" />
            <span class="card-title"><%= featured[i].title %></span>
          </div>
          <div class="card-content">
            <p>
              <%= featured[i].description %>
            </p>
          </div>
          <div class="card-action">
            <a class="btn btn-primary fun" href="/featuredEvents?id=<%=featured[i].id%>">Continue</a>
          </div>
        </div>
      </div>
<% } %>
</div>
</div>

    <footer>
      <div class="footer">
        <p class="footertext">Copyright © 2017 Events in the City. All Rights Reserved.</p>
      </div>
    </footer>

</body>

</html>
