<!DOCTYPE html>
<html>
<head>
  <title>Events in The City</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="angularjs/login.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">



</head>

<body ng-app="mylogin" ng-controller="login">

  <header>

    <div class="displaycontent" style="z-index: 1000;">
      <div class="navi">
        <nav class="navbar navbar-expand-lg  custom-navbar">
          <a class="navbar-brand custom-brand" href="/homepage">Events In the City</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactUs">CONTACT US</a>
              </li>
            </ul>

            </div>
        </nav>

    </div>
  </div>
    <hr/>

  </header>
<div class="newlogin">
  <p class="sign1">Login to proceed further</p>
	<div class="log-In">
		<form name="loginForm" novalidate autocomplete>
			<input type="email" name="username" placeholder="Email" class="email" ng-model="username" required  />
			<input type="password" name = "password" placeholder="Password" class="pass" ng-model="password" required/>
			<button type="submit" class="logIn" ng-click ="submit(loginForm.$valid)">Log In</button>
			<p class="errorUsername" ng-show="loginForm.username.$invalid && !loginForm.username.$pristine && submitted">Email is not valid</p>
			<p class="errorPassword" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine && submitted">Password is required</p>

		</form>
	</div>
</div>
	<div class="Sign-Up">
		<div class="sign">
      <p class="or">or</p>
      <p class="sign1">Sign Up</p>
     <p class="sign2">Be a part of Our Community and have access to all the Content</p>
			<div class="newacc">
				<span class="lg">Sign Up</span>
				<span class="text">It's free and always will be</span>

				<form name="registerForm" novalidate autocomplete>
					<input type="text" name="fname" placeholder="First Name" class="first nm" ng-model="firstname" required/>
					<p ng-show="registerForm.fname.$invalid && !registerForm.fname.$pristine && submittedRegister">Firstname is not valid</p>

					<input type="text" name="lname" placeholder="Last Name" class="first nm" ng-model="lastname" required/>
					<p ng-show="registerForm.lname.$invalid && !registerForm.lname.$pristine && submittedRegister">Lastname is not valid</p>

					<input type="email" name="email" placeholder="Email" class="mail nm" ng-model ="email1" ng-maxlength="64"/>
					<p class="errorEmail" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine && submittedRegister">Email must be in example@example.com format</p>

					<input type="password" name="pass" placeholder="Password" class="mail nm" ng-model="password1" ng-minlength="4" ng-maxlength="8"/>
					<p ng-show="registerForm.pass.$invalid && !registerForm.pass.$pristine && submittedRegister">Password must be between 4 to 8 charcaters long</p>

					<input type="tel" name="mobile" pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}' placeholder="Phone Number (XXX)XXX-XXXX" class="mail nm" ng-model="mobile"/>
					<p ng-show="registerForm.mobile.$invalid && !registerForm.mobile.$pristine && submittedRegister">Mobile number must be in (XXX)XXX-XXXX format</p>

					<input type="text" name="address" placeholder="Address" class="mail nm" ng-model="address"/>
		            <br>
					<p class="declare">By clicking Sign Up for Events in the City, you agree to our <strong>terms</strong> and that you have read our <strong>Data Use Policy</strong>, including our <strong>Cookies Use.</strong> </p>
					<button type="submit" value="Sign Up for Events in the City" class="button nm" ng-click ="register(registerForm.$valid)" ng-disabled="userForm.$invalid">Sign Up</button>
				</form>
			</div>
		</div>

	</div>

  <footer>
    <div class="footer">
      <p class="footertext">Copyright © 2017 Events in the City. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>
