body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.row{

}
/*
.col-lg-4{
  border:1px solid;
  height:180px;

}*/
.display-3{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}
