body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}
.row{

}

.col-lg-4{
  border:1px solid;
  height:180px;

}