<!DOCTYPE html>
<html>
	
<head>

	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Loading the AngularJS file from /public/angularJS folder -->
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="angularjs/cart.js"></script>
       
</head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <% for(var i=0;i<values[0].length;i++) { %>
                <div class="column">
                    <div class="col-md-4 ">
                        <div class="col-md-8 well">
                            <div class="row"><Strong>Name : </Strong><%= values[0][i].name %> </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</body>
</html>