<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="angularjs/login.js"></script>
</head>

<body ng-app="mylogin" ng-controller="login">
<div class="container">
  <div class="row">
    <div class = "col-md-4">
      <label style="font-size:180%"><%= title %></label>
    </div>
    <div class = "col-md-8">
      <div class="row">
        <div class="col-md-4">
          <input ng-model ="username" type="text" placeholder="Enter your username">
        </div>
        <div class="col-md-4">
          <input ng-model="password"  type="password" placeholder="Enter password">
        </div>
        <div class="col-md-4">
          <button type="submit" ng-click ="submit()"> Login </button>
        </div>
      </div>
    </div>

  </div>

  <div class ="row">
    <br>
    <br>
    <label style="font-size:180%">First time User? Sign up here!</label>
    <form>
      Username: <input ng-model ="email1" type="text"><br><br>
      Password: <input ng-model="password1"  type="text" ><br><br>
      Firstname: <input ng-model="firstname"  type="text" ><br><br>
      Lastname: <input ng-model="lastname"  type="text" ><br><br>
      Mobile: <input ng-model="mobile"  type="text" ><br><br>
      Address: <input ng-model="address"  type="text" ><br><br>
      <button type="submit" ng-click ="register()"> Register </button>
    </form>
  </div>
</div>
</body>
</html>
